@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;          /* scrolling down time --> */
    /* transition:width none; */
}

html{
    font-size: 62.5%;
    scroll-padding-top: 5rem;
    scroll-behavior:smooth;         /*to see full section*/
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:white;
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:black;
    background: rgb(174, 174, 40);
    border:black;
}

.btn{
    margin-top: 1rem;
    display:inline-block;           /*horizontally button*/
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:black;
    background:rgb(174, 174, 40);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    color:rgb(174, 174, 40);
    background:black;
}

.header .header-1{
    background:black;
    padding:1.5rem 9%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-family: 'Panchang', sans-serif;
    font-weight: 700;
  font-size:x-large;
    color:rgb(174, 174, 40);
    
}

.header .header-1 .logo i{
    color:rgb(174, 174, 40);
}

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:rgb(174, 174, 40);
    overflow: hidden;
    background:rgb(174, 174, 40);
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:black;
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color:black;
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:white;
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size:2.5rem;
    margin-left: 1.5rem;
    color:rgb(174, 174, 40);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:yellow;
}

/* #search-btn{
    display: none;
} */

.header .header-2{
    background:rgb(174, 174, 40);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:black;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:yellow;
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.container{
    background-color: black;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0 0 8rem;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:rgb(174, 174, 40);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:rgb(174, 174, 40);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:white;
}

.icons-container .book-image img{
    width: 70rem;
    height: 30rem;
} 

.icon-content{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.icon-content h3{
    color:yellow;
    font-size: 4.5rem;
    padding-bottom: 20px;
}

.featured{
    /* background: url(https://images.creativemarket.com/0.1.0/ps/6817666/910/603/m2/fpnw/wm1/oolrwxk91mq5qgcy43qmpytgtnpoorgsgfjqk2lav3iigwlwjrk1azt5yv4ttld6-.jpg?1565777986&s=7139dd60f66f3af8494dc90270d3134d) no-repeat; */
    background-color: black;
    background-size: cover;
    background-position: center;
}

.featured .genre-name span{
    font-size: 2rem;
    padding:.5rem 2rem;
    color:black;
    background: rgb(174, 174, 40);
}

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:.1rem solid rgb(174, 174, 40);
}

.featured .featured-slider .box .image{
    padding:1rem;
    /* background: linear-gradient(15deg, rgb(174, 174, 40) 30%, black 30.1%); */
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    position: absolute;
    top:0; left:0; right: 0;
    background: black;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color: rgb(174, 174, 40);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:rgb(174, 174, 40);
    color:black;
}

.featured .featured-slider .box .content{
    background:black;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:rgb(174, 174, 40);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:white;
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color: white;
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:black;
    background: rgb(174, 174, 40);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: black;
    color:rgb(174, 174, 40);
}

.reviews{
    background-color: black;
    border-bottom: 3px solid white;
}

.reviews .reviews-slider .box{
    padding:2rem;
    text-align: center;
    margin:2rem 0;
}

.reviews .reviews-slider .box:hover{
    border:.1rem solid rgb(174, 174, 40);
}

.reviews .reviews-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3{
    color:white;
    font-size: 2.2rem;
    padding:.5rem 0;
}

.reviews .reviews-slider .box p{
    color:white;
    font-size: 1.4rem;
    padding:1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars{
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i{
    font-size: 1.7rem;
    color:rgb(174, 174, 40);
}
.footer{
    background-color: black;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    background-color: black;
    /* border-top: 3px solid white; */
    padding-left: 200px;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:white;
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:white;
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:white;
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    
    margin:0 .3rem;
    border-radius: 50%; 
}



.footer .credit{
    /* border-top: 3px solid white; */
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    padding-right: 70px;
    padding-left: 85px;
    font-size: 2rem;
    color:white;
    text-align: center;
}

.footer .credit span{
    color:white;
}
